<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>URL Shortner</h1>

   
    
    <form method="post" action="/url">
        <label>Enter your Original URL</label>
        <input type="text" placeholder="https://example.com" name="url"/>
        <button type="submit">Generate</button>
    </form>
    
</body>
</html>