<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <style>
      h1{
        text-align: center;
      }
    </style>
</head>
<body>
  <% if (locals.id) { %>
    <h1>URL Generated : http://localhost:8000/url/<%= id %></h1>
   <% } %>
  
</body>
</html>